---
import { getCollection } from 'astro:content'
import Container from '@components/Container.astro'
import PageLayout from '@layouts/PageLayout.astro'
import ArrowCard from '@components/ArrowCard.astro'
import Link from '@components/Link.astro'
import { dateRange } from '@lib/utils'
import { SITE, HOME, SOCIALS } from '@consts'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .filter((post) => post.data.title != 'The UX of a clipboard manager') // to show in projects
  // .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

const projects = (await getCollection('projects'))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)

const allwork = (await getCollection('work'))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE)

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render()
    return { ...item, Content }
  }),
)
---

<PageLayout
  title={HOME.TITLE}
  description={HOME.DESCRIPTION}
>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">Hi! I'm Jesús García Martínez</h4>
    <div class="space-y-6">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I'm a software developer working primarily with TypeScript, developing web UIs and Node.js
            services. I also teach advanced JS/TS and React workshops.
          </p>

          <p>I'm interested in</p>
          <ul>
            <li>complex, performant, collaborative web UIs</li>
            <li>
              <Link
                external
                href={`https://localfirstweb.dev/`}
                aria-label={`Local first web dev`}
                underline={true}
              >
                local-first software
              </Link>
            </li>
            <li>
              Everything related to <Link
                href={`/blog/links`}
                aria-label={`Software design links`}
                underline={true}
              >
                software design
              </Link>, software history, programming languages, functional programming and "future of
              coding"–type things
            </li>
          </ul>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Projects</h5>
          <!-- <Link href="/projects"> See all projects </Link> -->
        </div>
        <ul class="flex flex-col gap-4">
          <!-- {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          } -->
          <li>
            {/* <ArrowCard /> */}
            <a
              href={`https://github.com/jesgarciamartinez/sylvan`}
              class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
            >
              <div class="flex flex-col flex-1 truncate">
                <div class="font-semibold">{'Sylvan JS framework'}</div>
                <div class="text-sm">
                  {'Fine-grained updates without signals or virtual DOM'}
                </div>
              </div>
              <svg
                viewBox="0 0 24 24"
                class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
              >
                <line
                  x1="5"
                  y1="12"
                  x2="19"
                  y2="12"
                  class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
                ></line>
                <polyline
                  points="12 5 19 12 12 19"
                  class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
                ></polyline>
              </svg>
            </a>
          </li>
          <li>
            {/* <ArrowCard /> */}
            <a
              href={`/blog/clipboard-tool-ux`}
              class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
            >
              <div class="flex flex-col flex-1 truncate">
                <div class="font-semibold">{'Clipboard manager'}</div>
                <div class="text-sm">
                  {'Chrome extension to manage clipboard entries'}
                </div>
              </div>
              <svg
                viewBox="0 0 24 24"
                class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
              >
                <line
                  x1="5"
                  y1="12"
                  x2="19"
                  y2="12"
                  class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
                ></line>
                <polyline
                  points="12 5 19 12 12 19"
                  class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
                ></polyline>
              </svg>
            </a>
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Blog posts</h5>
          <!-- <Link href="/blog">
            See all posts
          </Link> -->
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section>
        <details>
          <summary>More about me</summary>
        </details>
      </section> -->
    </div>
  </Container>
</PageLayout>
